In [1]:
import pandas as pd

In [4]:
df = pd.read_json("crime_location.json")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          1000 non-null   int64
 1   district      1000 non-null   int64
 2   latitude      1000 non-null   float64
 3   longitude     1000 non-null   float64
 4   primary_type  1000 non-null   object
 5   crime_count   1000 non-null   int64
dtypes: float64(2), int64(3), object(1)
memory usage: 47.0+ KB

In [22]:
df.head(10)

   year  district   latitude  longitude        primary_type  crime_count
0  2020        17  41.946319 -87.731580             BATTERY            1
1  2020        10  41.837346 -87.698698             ASSAULT            1
2  2020        18  41.898255 -87.631288             ROBBERY            1
3  2020         3  41.783209 -87.599502               THEFT            1
4  2021         8  41.791362 -87.726482             BATTERY            2
5  2020        25  41.915352 -87.725764     CRIMINAL DAMAGE            1
6  2020        12  41.854296 -87.658010             BATTERY            1
7  2021        12  41.896475 -87.690561            BURGLARY            1
8  2021         5  41.655413 -87.596775               THEFT            1
9  2021        12  41.899534 -87.678166  DECEPTIVE PRACTICE            1

In [6]:
df.district.unique()

array([17, 10, 18,  3,  8, 25, 12,  5,  6, 22, 14, 20, 11, 19,  9, 15, 24,
        7,  1, 16,  4,  2], dtype=int64)

In [7]:
df.primary_type.unique()

array(['BATTERY', 'ASSAULT', 'ROBBERY', 'THEFT', 'CRIMINAL DAMAGE',
       'BURGLARY', 'DECEPTIVE PRACTICE', 'OTHER OFFENSE',
       'PUBLIC PEACE VIOLATION', 'OFFENSE INVOLVING CHILDREN',
       'MOTOR VEHICLE THEFT', 'NARCOTICS', 'CRIMINAL TRESPASS',
       'WEAPONS VIOLATION', 'SEX OFFENSE', 'CRIMINAL SEXUAL ASSAULT',
       'ARSON', 'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE',
       'INTERFERENCE WITH PUBLIC OFFICER', 'PROSTITUTION',
       'LIQUOR LAW VIOLATION', 'STALKING'], dtype=object)

In [8]:
df.primary_type.value_counts()

BATTERY                              180
THEFT                                176
CRIMINAL DAMAGE                      128
ASSAULT                               93
DECEPTIVE PRACTICE                    83
OTHER OFFENSE                         76
MOTOR VEHICLE THEFT                   58
ROBBERY                               48
WEAPONS VIOLATION                     42
BURGLARY                              41
NARCOTICS                             23
CRIMINAL TRESPASS                     14
OFFENSE INVOLVING CHILDREN            13
SEX OFFENSE                            6
CRIMINAL SEXUAL ASSAULT                6
PUBLIC PEACE VIOLATION                 2
CONCEALED CARRY LICENSE VIOLATION      2
HOMICIDE                               2
LIQUOR LAW VIOLATION                   2
STALKING                               2
ARSON                                  1
INTERFERENCE WITH PUBLIC OFFICER       1
PROSTITUTION                           1
Name: primary_type, dtype: int64

In [9]:
df.district.value_counts()

6     69
4     65
8     65
25    65
11    55
5     54
3     52
9     49
12    49
19    47
10    45
22    44
2     43
7     42
16    39
15    37
24    37
18    36
14    31
17    28
1     28
20    20
Name: district, dtype: int64

In [17]:
df6b = df.loc[(df.district == 6) & (df.primary_type == "BATTERY")]
df4b = df.loc[(df.district == 4) & (df.primary_type == "BATTERY")]
df8b = df.loc[(df.district == 8) & (df.primary_type == "BATTERY")]
df25b = df.loc[(df.district == 25) & (df.primary_type == "BATTERY")]
df11b = df.loc[(df.district == 11) & (df.primary_type == "BATTERY")]
battery = [len(df6b), len(df4b), len(df8b), len(df25b), len(df11b)]
battery

[12, 15, 13, 15, 17]

In [18]:
df6t = df.loc[(df.district == 6) & (df.primary_type == "THEFT")]
df4t = df.loc[(df.district == 4) & (df.primary_type == "THEFT")]
df8t = df.loc[(df.district == 8) & (df.primary_type == "THEFT")]
df25t = df.loc[(df.district == 25) & (df.primary_type == "THEFT")]
df11t = df.loc[(df.district == 11) & (df.primary_type == "THEFT")]
theft = [len(df6t), len(df4t), len(df8t), len(df25t), len(df11t)]
theft

[8, 9, 10, 7, 3]

In [19]:
df6c = df.loc[(df.district == 6) & (df.primary_type == "CRIMINAL DAMAGE")]
df4c = df.loc[(df.district == 4) & (df.primary_type == "CRIMINAL DAMAGE")]
df8c = df.loc[(df.district == 8) & (df.primary_type == "CRIMINAL DAMAGE")]
df25c = df.loc[(df.district == 25) & (df.primary_type == "CRIMINAL DAMAGE")]
df11c = df.loc[(df.district == 11) & (df.primary_type == "CRIMINAL DAMAGE")]
cd = [len(df6c), len(df4c), len(df8c), len(df25c), len(df11c)]
cd

[10, 11, 6, 10, 5]

In [20]:
df6a = df.loc[(df.district == 6) & (df.primary_type == "ASSAULT")]
df4a = df.loc[(df.district == 4) & (df.primary_type == "ASSAULT")]
df8a = df.loc[(df.district == 8) & (df.primary_type == "ASSAULT")]
df25a = df.loc[(df.district == 25) & (df.primary_type == "ASSAULT")]
df11a = df.loc[(df.district == 11) & (df.primary_type == "ASSAULT")]
assault = [len(df6a), len(df4a), len(df8a), len(df25a), len(df11a)]
assault

[8, 4, 10, 2, 3]

In [21]:
df6d = df.loc[(df.district == 6) & (df.primary_type == "DECEPTIVE PRACTICE")]
df4d = df.loc[(df.district == 4) & (df.primary_type == "DECEPTIVE PRACTICE")]
df8d = df.loc[(df.district == 8) & (df.primary_type == "DECEPTIVE PRACTICE")]
df25d = df.loc[(df.district == 25) & (df.primary_type == "DECEPTIVE PRACTICE")]
df11d = df.loc[(df.district == 11) & (df.primary_type == "DECEPTIVE PRACTICE")]
dec = [len(df6d), len(df4d), len(df8d), len(df25d), len(df11d)]
dec

[5, 7, 7, 3, 3]

In [25]:
df_no22 = df.loc[(df.year == 2020) | (df.year == 2021)]
df20 = df.loc[(df.year == 2020)]
df21 = df.loc[(df.year == 2021)]
df_no22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 803 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          803 non-null    int64
 1   district      803 non-null    int64
 2   latitude      803 non-null    float64
 3   longitude     803 non-null    float64
 4   primary_type  803 non-null    object
 5   crime_count   803 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 43.9+ KB

In [32]:
crimes = df_no22.primary_type.value_counts().index.tolist()
crimes

['BATTERY',
 'THEFT',
 'CRIMINAL DAMAGE',
 'DECEPTIVE PRACTICE',
 'ASSAULT',
 'OTHER OFFENSE',
 'MOTOR VEHICLE THEFT',
 'ROBBERY',
 'WEAPONS VIOLATION',
 'BURGLARY',
 'NARCOTICS',
 'OFFENSE INVOLVING CHILDREN',
 'CRIMINAL TRESPASS',
 'SEX OFFENSE',
 'CRIMINAL SEXUAL ASSAULT',
 'HOMICIDE',
 'LIQUOR LAW VIOLATION',
 'STALKING',
 'CONCEALED CARRY LICENSE VIOLATION',
 'PROSTITUTION',
 'ARSON',
 'PUBLIC PEACE VIOLATION']

In [51]:
df_x=pd.DataFrame({'crime':crimes})
df_x

                                crime
0                             BATTERY
1                               THEFT
2                     CRIMINAL DAMAGE
3                  DECEPTIVE PRACTICE
4                             ASSAULT
5                       OTHER OFFENSE
6                 MOTOR VEHICLE THEFT
7                             ROBBERY
8                   WEAPONS VIOLATION
9                            BURGLARY
10                          NARCOTICS
11         OFFENSE INVOLVING CHILDREN
12                  CRIMINAL TRESPASS
13                        SEX OFFENSE
14            CRIMINAL SEXUAL ASSAULT
15                           HOMICIDE
16               LIQUOR LAW VIOLATION
17                           STALKING
18  CONCEALED CARRY LICENSE VIOLATION
19                       PROSTITUTION
20                              ARSON
21             PUBLIC PEACE VIOLATION

In [52]:
crime2020 = []
for crime in crimes:
    crime2020.append(len(df20.loc[df20.primary_type == crime]))
    
crime2020

[80, 58, 49, 39, 27, 28, 22, 22, 18, 15, 13, 6, 6, 2, 1, 0, 1, 1, 1, 1, 1, 0]

In [53]:
df_x["c2020"] = crime2020

In [54]:
df_x

                                crime  c2020
0                             BATTERY     80
1                               THEFT     58
2                     CRIMINAL DAMAGE     49
3                  DECEPTIVE PRACTICE     39
4                             ASSAULT     27
5                       OTHER OFFENSE     28
6                 MOTOR VEHICLE THEFT     22
7                             ROBBERY     22
8                   WEAPONS VIOLATION     18
9                            BURGLARY     15
10                          NARCOTICS     13
11         OFFENSE INVOLVING CHILDREN      6
12                  CRIMINAL TRESPASS      6
13                        SEX OFFENSE      2
14            CRIMINAL SEXUAL ASSAULT      1
15                           HOMICIDE      0
16               LIQUOR LAW VIOLATION      1
17                           STALKING      1
18  CONCEALED CARRY LICENSE VIOLATION      1
19                       PROSTITUTION      1
20                              ARSON      1
21             PUBLIC PEACE VIOLATION      0

In [55]:
crime2021 = []
for crime in crimes:
    crime2021.append(len(df21.loc[df21.primary_type == crime]))
    
crime2021

[66, 87, 54, 35, 43, 26, 19, 18, 20, 17, 5, 4, 4, 4, 4, 2, 1, 1, 1, 0, 0, 1]

In [56]:
df_x["c2021"] = crime2021
df_x

                                crime  c2020  c2021
0                             BATTERY     80     66
1                               THEFT     58     87
2                     CRIMINAL DAMAGE     49     54
3                  DECEPTIVE PRACTICE     39     35
4                             ASSAULT     27     43
5                       OTHER OFFENSE     28     26
6                 MOTOR VEHICLE THEFT     22     19
7                             ROBBERY     22     18
8                   WEAPONS VIOLATION     18     20
9                            BURGLARY     15     17
10                          NARCOTICS     13      5
11         OFFENSE INVOLVING CHILDREN      6      4
12                  CRIMINAL TRESPASS      6      4
13                        SEX OFFENSE      2      4
14            CRIMINAL SEXUAL ASSAULT      1      4
15                           HOMICIDE      0      2
16               LIQUOR LAW VIOLATION      1      1
17                           STALKING      1      1
18  CONCEALED CARRY LICENSE VIOLATION      1      1
19                       PROSTITUTION      1      0
20                              ARSON      1      0
21             PUBLIC PEACE VIOLATION      0      1

In [57]:
df_x.to_csv('crimetype.csv',index=False)